
@{
    Layout = "~/areas/Admin/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "创建大亨会员";
}

<div class="row">
    <div class="col-md-12">
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-cogs font-green-sharp"></i>
                    <span class="caption-subject font-green-sharp bold uppercase">创建大亨</span>
                </div>
            </div>
            <div class="portlet-body form">
                @using (Html.BeginForm("Create", "User", FormMethod.Post, new { @class = "form-horizontal", @role = "form" }))
                {
                <div class="form-body">
                    <div class="form-group">
                        <label class="col-md-3 control-label">帐号</label>
                        <div class="col-md-4">
                            <input type="text" class="form-control" placeholder="会员帐号" name="id">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">密码</label>
                        <div class="col-md-4">
                            <input type="text" class="form-control margin-top-10" placeholder="密码" name="password">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">姓名</label>
                        <div class="col-md-4">
                            <input type="text" class="form-control" placeholder="姓名" name="name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">电话</label>
                        <div class="col-md-4">
                            <input type="text" class="form-control" placeholder="电话" name="tel">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">通讯地址</label>
                        <div class="col-md-4">
                            <input type="text" class="form-control" placeholder="通讯地址" name="adder">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">邮编</label>
                        <div class="col-md-4">
                            <input type="text" class="form-control" placeholder="邮编" name="post">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">大亨微博需要的信息1</label>
                        <div class="col-md-4">
                            <input type="text" class="form-control" placeholder="大亨微博需要的信息1" name="Weibo1">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">大亨微博需要的信息2</label>
                        <div class="col-md-4">
                            <input type="text" class="form-control" placeholder="大亨微博需要的信息2" name="Weibo2">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">银行</label>
                        <div class="col-md-4">
                            <input type="text" class="form-control" placeholder="银行" name="bank">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">银行账号</label>
                        <div class="col-md-4">
                            <input type="text" class="form-control" placeholder="银行账号" name="bankzh">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label">银行接口需要预留字段1</label>
                        <div class="col-md-4">
                            <input type="text" class="form-control" placeholder="银行接口需要预留字段1" name="bank1">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label">银行接口需要预留字段2</label>
                        <div class="col-md-4">
                            <input type="text" class="form-control" placeholder="银行接口需要预留字段2" name="bank2">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label">可提现金额</label>
                        <div class="col-md-4">
                            <input type="text" class="form-control" placeholder="可提现金额" name="jektx">
                        </div>
                    </div>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-4">
                                <button type="submit" class="btn green">保 存</button>
                                <a href="@Url.Action("List")" class="btn default">取消，返回列表</a>
                            </div>
                        </div>
                    </div>
                </div>
                }
            </div>
        </div>

    </div>
</div>